.card {
  --cui-card-title-color: var(--gray-25);
  --cui-card-subtitle-color: var(--gray-400);
  --cui-card-border-color: var(--gray-900);
  --cui-card-border-radius: var(--radius-4xl);
  --cui-card-color: var(--gray-300);
  --cui-card-bg: var(--gray-900);
  --cui-card-cap-bg: var(--gray-600);
  --cui-card-cap-color: var(--gray-25);
  //   --cui-card-img-overlay-padding: #{$card-img-overlay-padding};
  //   --cui-card-group-margin: #{$card-group-margin};
}
