.custom-editor {
  //  /* Overrides the border radius setting in the theme. */
  //  --ck-border-radius: 4px;

  //  /* Overrides the default font size in the theme. */
  //  --ck-font-size-base: 14px;

  //  /* Helper variables to avoid duplication in the colors. */
  //  --ck-custom-background: hsl(270, 1%, 29%);
  //  --ck-custom-foreground: hsl(255, 3%, 18%);
  //  --ck-custom-border: hsl(300, 1%, 22%);
  //  --ck-custom-white: hsl(0, 0%, 100%);

  //  /* -- Overrides generic colors. ------------------------------------------------------------- */

  //  --ck-color-base-foreground: var(--ck-custom-background);
  //  --ck-color-focus-border: hsl(208, 90%, 62%);
  //  --ck-color-text: hsl(0, 0%, 98%);
  //  --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.2);
  //  --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

  //  /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

  //  --ck-color-button-default-background: var(--ck-custom-background);
  //  --ck-color-button-default-hover-background: hsl(270, 1%, 22%);
  //  --ck-color-button-default-active-background: hsl(270, 2%, 20%);
  //  --ck-color-button-default-active-shadow: hsl(270, 2%, 23%);
  //  --ck-color-button-default-disabled-background: var(--ck-custom-background);

  //  --ck-color-button-on-background: var(--ck-custom-foreground);
  //  --ck-color-button-on-hover-background: hsl(255, 4%, 16%);
  //  --ck-color-button-on-active-background: hsl(255, 4%, 14%);
  //  --ck-color-button-on-active-shadow: hsl(240, 3%, 19%);
  //  --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

  //  --ck-color-button-action-background: hsl(168, 76%, 42%);
  //  --ck-color-button-action-hover-background: hsl(168, 76%, 38%);
  //  --ck-color-button-action-active-background: hsl(168, 76%, 36%);
  //  --ck-color-button-action-active-shadow: hsl(168, 75%, 34%);
  //  --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
  //  --ck-color-button-action-text: var(--ck-custom-white);

  //  --ck-color-button-save: hsl(120, 100%, 46%);
  //  --ck-color-button-cancel: hsl(15, 100%, 56%);

  //  /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

  //  --ck-color-dropdown-panel-background: var(--ck-custom-background);
  //  --ck-color-dropdown-panel-border: var(--ck-custom-foreground);

  //  /* -- Overrides the default .ck-dialog class colors. ----------------------------------- */

  //  --ck-color-dialog-background: var(--ck-custom-background);
  //  --ck-color-dialog-form-header-border: var(--ck-custom-border);

  //  /* -- Overrides the default .ck-splitbutton class colors. ----------------------------------- */

  //  --ck-color-split-button-hover-background: var(--ck-color-button-default-hover-background);
  //  --ck-color-split-button-hover-border: var(--ck-custom-foreground);

  //  /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

  //  --ck-color-input-background: var(--ck-custom-background);
  //  --ck-color-input-border: hsl(257, 3%, 43%);
  //  --ck-color-input-text: hsl(0, 0%, 98%);
  //  --ck-color-input-disabled-background: hsl(255, 4%, 21%);
  //  --ck-color-input-disabled-border: hsl(250, 3%, 38%);
  //  --ck-color-input-disabled-text: hsl(0, 0%, 78%);

  //  /* -- Overrides the default .ck-labeled-field-view class colors. ---------------------------- */

  //  --ck-color-labeled-field-label-background: var(--ck-custom-background);

  //  /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

  //  --ck-color-list-background: var(--ck-custom-background);
  //  --ck-color-list-button-hover-background: var(--ck-color-base-foreground);
  //  --ck-color-list-button-on-background: var(--ck-color-base-active);
  //  --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
  //  --ck-color-list-button-on-text: var(--ck-color-base-background);

  //  /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

  //  --ck-color-panel-background: var(--ck-custom-background);
  //  --ck-color-panel-border: var(--ck-custom-border);

  //  /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

  //  --ck-color-toolbar-background: var(--ck-custom-background);
  //  --ck-color-toolbar-border: var(--ck-custom-border);

  //  /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */

  //  --ck-color-tooltip-background: hsl(252, 7%, 14%);
  //  --ck-color-tooltip-text: hsl(0, 0%, 93%);

  //  /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

  //  --ck-color-image-caption-background: hsl(0, 0%, 97%);
  //  --ck-color-image-caption-text: hsl(0, 0%, 20%);

  //  /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

  //  --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
  //  --ck-color-widget-hover-border: hsl(43, 100%, 68%);
  //  --ck-color-widget-editable-focus-background: var(--ck-custom-white);

  //  /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

  //  --ck-color-link-default: hsl(190, 100%, 75%);
  /**
  *
  *
  *
  */
  --ck-color-base-foreground: var(--gray-900);
  --ck-color-base-background: var(--gray-800);
  --ck-color-base-border: var(--gray-800);
  --ck-color-base-focus: var(--brand-300);
  --ck-color-base-text: var(--gray-25);
  --ck-color-base-active: var(--brand-500);
  --ck-color-base-active-focus: var(--brand-500);
  --ck-color-base-error: var(--danger-500);

  /* -- Generic colors ------------------------------------------------------------------------ */

  --ck-color-focus-border-coordinates: var(--gray-25);
  // --ck-color-focus-border: hsl(var(--ck-color-focus-border-coordinates));
  --ck-color-focus-border: var(--gray-25);
  --ck-color-focus-outer-shadow: hsl(212.4, 89.3%, 89%);
  --ck-color-focus-disabled-shadow: hsla(209, 90%, 72%, 0.3);
  --ck-color-focus-error-shadow: hsla(9, 100%, 56%, 0.3);
  --ck-color-text: var(--ck-color-base-text);
  --ck-color-shadow-drop: hsla(0, 0%, 0%, 0.15);
  --ck-color-shadow-drop-active: hsla(0, 0%, 0%, 0.2);
  --ck-color-shadow-inner: hsla(0, 0%, 0%, 0.1);

  /* -- Buttons ------------------------------------------------------------------------------- */

  --ck-color-button-default-background: transparent;
  --ck-color-button-default-hover-background: var(--gray-800);
  --ck-color-button-default-active-background: var(--gray-800);
  --ck-color-button-default-disabled-background: transparent;

  --ck-color-button-on-background: var(--gray-800);
  --ck-color-button-on-hover-background: var(--gray-800);
  --ck-color-button-on-active-background: var(--gray-800);
  --ck-color-button-on-disabled-background: var(--gray-500);
  --ck-color-button-on-color: var(--brand-500);

  --ck-color-button-action-background: var(--ck-color-base-action);
  --ck-color-button-action-hover-background: hsl(104, 53.2%, 40.2%);
  --ck-color-button-action-active-background: hsl(104, 53.2%, 40.2%);
  --ck-color-button-action-disabled-background: hsl(104, 44%, 58%);
  --ck-color-button-action-text: var(--ck-color-base-background);

  --ck-color-button-save: hsl(120, 100%, 27%);
  --ck-color-button-cancel: hsl(15, 100%, 43%);

  --ck-color-switch-button-off-background: hsl(0, 0%, 57.6%);
  --ck-color-switch-button-off-hover-background: hsl(0, 0%, 49%);
  --ck-color-switch-button-on-background: var(--ck-color-button-action-background);
  --ck-color-switch-button-on-hover-background: hsl(104, 53.2%, 40.2%);
  --ck-color-switch-button-inner-background: var(--ck-color-base-background);
  --ck-color-switch-button-inner-shadow: hsla(0, 0%, 0%, 0.1);

  /* -- Dropdown ------------------------------------------------------------------------------ */

  --ck-color-dropdown-panel-background: var(--ck-color-base-background);
  --ck-color-dropdown-panel-border: var(--ck-color-base-border);

  /* -- Dialog -------------------------------------------------------------------------------- */

  --ck-color-dialog-background: var(--ck-custom-background);
  --ck-color-dialog-form-header-border: var(--ck-custom-border);

  /* -- Input --------------------------------------------------------------------------------- */

  --ck-color-input-background: var(--ck-color-base-background);
  --ck-color-input-border: var(--ck-color-base-border);
  --ck-color-input-error-border: var(--ck-color-base-error);
  --ck-color-input-text: var(--ck-color-base-text);
  --ck-color-input-disabled-background: hsl(0, 0%, 95%);
  --ck-color-input-disabled-border: var(--ck-color-base-border);
  --ck-color-input-disabled-text: hsl(0, 0%, 46%);

  /* -- List ---------------------------------------------------------------------------------- */

  --ck-color-list-background: var(--ck-color-base-background);
  --ck-color-list-button-hover-background: var(--ck-color-button-default-hover-background);
  --ck-color-list-button-on-background: var(--ck-color-button-on-color);
  --ck-color-list-button-on-background-focus: var(--ck-color-button-on-color);
  --ck-color-list-button-on-text: var(--ck-color-base-background);

  /* -- Panel --------------------------------------------------------------------------------- */

  --ck-color-panel-background: var(--ck-color-base-background);
  --ck-color-panel-border: var(--ck-color-base-border);

  /* -- Toolbar ------------------------------------------------------------------------------- */

  --ck-color-toolbar-background: var(--ck-color-base-background);
  --ck-color-toolbar-border: var(--gray-25);

  /* -- Tooltip ------------------------------------------------------------------------------- */

  --ck-color-tooltip-background: var(--ck-color-base-text);
  --ck-color-tooltip-text: var(--ck-color-base-background);

  /* -- Engine -------------------------------------------------------------------------------- */

  --ck-color-engine-placeholder-text: var(--gray-400);

  /* -- Upload -------------------------------------------------------------------------------- */

  --ck-color-upload-bar-background: hsl(209, 92%, 70%);

  /* -- Link -------------------------------------------------------------------------------- */

  --ck-color-link-default: hsl(240, 100%, 47%);
  --ck-color-link-selected-background: hsla(201, 100%, 56%, 0.1);
  --ck-color-link-fake-selection: hsla(201, 100%, 56%, 0.3);

  /* -- Search result highlight ---------------------------------------------------------------- */

  --ck-color-highlight-background: hsl(60, 100%, 50%);

  /* -- Generic colors ------------------------------------------------------------------------- */

  --ck-color-light-red: hsl(0, 100%, 90%);

  @extend .text-sm;

  .ck-editor__editable_inline {
    min-height: 250px;
  }
}
