// Font
@font-face {
  font-family: 'Inter-Regular';
  src: url('/src/assets/font/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('/src/assets/font/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('/src/assets/font/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('/src/assets/font/Inter-Bold.ttf');
}

// New font

.font-inter {
  font-family: 'Inter-Regular', sans-serif !important; 
  font-weight: 400 !important;
  font-style: normal !important;
}

.font-inter-medium {
  font-family: 'Inter-Medium', sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
}

.font-inter-semibold {
  font-family: 'Inter-SemiBold', sans-serif !important;
  font-weight: 600 !important;
  font-style: normal !important;
}

.font-inter-bold {
  font-family: 'Inter-Bold', sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

// Display 2xl

.display-2xl-style {
  font-size: toRem(72) !important;
  line-height: toRem(90) !important; /* 125% */
  letter-spacing: -0.02em !important;
}

.text-display-2xl {
  @extend .font-inter, .display-2xl-style;
}

.text-display-2xl-medium {
  @extend .font-inter-medium, .display-2xl-style;
}

.text-display-2xl-semibold {
  @extend .font-inter-semibold, .display-2xl-style;
}

.text-display-2xl-bold {
  @extend .font-inter-bold, .display-2xl-style;
}

// Display lg
//styleName: displayxl/regular;

.display-xl-style {
  font-size: toRem(60) !important;
  line-height: toRem(72) !important; /* 125% */
  letter-spacing: -0.02em !important;
}

.text-display-xl {
  @extend .font-inter, .display-xl-style;
}

.text-display-xl-medium {
  @extend .font-inter-medium, .display-xl-style;
}

.text-display-xl-semibold {
  @extend .font-inter-semibold, .display-xl-style;
}

.text-display-xl-bold {
  @extend .font-inter-bold, .display-xl-style;
}

// Display lg

.display-lg-style {
  font-size: toRem(48) !important;
  line-height: toRem(60) !important; /* 125% */
  letter-spacing: -0.02em !important;
}

.text-display-lg {
  @extend .font-inter, .display-lg-style;
}

.text-display-lg-medium {
  @extend .font-inter-medium, .display-lg-style;
}

.text-display-lg-semibold {
  @extend .font-inter-semibold, .display-lg-style;
}

.text-display-lg-bold {
  @extend .font-inter-bold, .display-lg-style;
}

// Display md

.display-md-style {
  font-size: toRem(36) !important;
  line-height: toRem(44) !important; /* 122.222% */
  letter-spacing: -0.02em !important;
}

.text-display-md {
  @extend .font-inter, .display-md-style;
}

.text-display-md-medium {
  @extend .font-inter-medium, .display-md-style;
}

.text-display-md-semibold {
  @extend .font-inter-semibold, .display-md-style;
}

.text-display-md-bold {
  @extend .font-inter-bold, .display-md-style;
}

// Display sm

.display-sm-style {
  font-size: toRem(30) !important;
  line-height: toRem(38) !important; /* 126.667% */
}

.text-display-sm {
  @extend .font-inter, .display-sm-style;
}

.text-display-sm-medium {
  @extend .font-inter-medium, .display-sm-style;
}

.text-display-sm-semibold {
  @extend .font-inter-semibold, .display-sm-style;
}

.text-display-sm-bold {
  @extend .font-inter-bold, .display-sm-style;
}

// Display xs

.display-xs-style {
  font-size: toRem(24) !important;
  line-height: toRem(32) !important; /* 133.333% */
}

.text-display-xs {
  @extend .font-inter, .display-xs-style;
}

.text-display-xs-medium {
  @extend .font-inter-medium, .display-xs-style;
}

.text-display-xs-semibold {
  @extend .font-inter-semibold, .display-xs-style;
}

.text-display-xs-bold {
  @extend .font-inter-bold, .display-xs-style;
}

// Text xl

.text-xl-style {
  font-size: toRem(20) !important;
  line-height: toRem(30) !important; /* 150% */
}

.text-xl {
  @extend .font-inter, .text-xl-style;
}

.text-xl-medium {
  @extend .font-inter-medium, .text-xl-style;
}

.text-xl-semibold {
  @extend .font-inter-semibold, .text-xl-style;
}

.text-xl-bold {
  @extend .font-inter-bold, .text-xl-style;
}

// Text lg

.text-lg-style {
  font-size: toRem(18) !important;
  line-height: toRem(28) !important; /* 155.556% */
}

.text-lg {
  @extend .font-inter, .text-lg-style;
}

.text-lg-medium {
  @extend .font-inter-medium, .text-lg-style;
}

.text-lg-semibold {
  @extend .font-inter-semibold, .text-lg-style;
}

.text-lg-bold {
  @extend .font-inter-bold, .text-lg-style;
}

// Text md

.text-md-style {
  font-size: toRem(16) !important;
  line-height: toRem(24) !important; /* 150% */
}

.text-md {
  @extend .font-inter, .text-md-style;
}

.text-md-medium {
  @extend .font-inter-medium, .text-md-style;
}

.text-md-semibold {
  @extend .font-inter-semibold, .text-md-style;
}

.text-md-bold {
  @extend .font-inter-bold, .text-md-style;
}

// Text sm

.text-sm-style {
  font-size: toRem(14) !important;
  line-height: toRem(20) !important; /* 142.857% */
}

.text-sm {
  @extend .font-inter, .text-sm-style;
}

.text-sm-medium {
  @extend .font-inter-medium, .text-sm-style;
}

.text-sm-semibold {
  @extend .font-inter-semibold, .text-sm-style;
}

.text-sm-bold {
  @extend .font-inter-bold, .text-sm-style;
}

// Text xs

.text-xs-style {
  font-size: toRem(12) !important;
  line-height: toRem(18) !important; /* 142.857% */
}
.text-xs {
  @extend .font-inter, .text-xs-style;
}

.text-xs-medium {
  @extend .font-inter-medium, .text-xs-style;
}

.text-xs-semibold {
  @extend .font-inter-semibold, .text-xs-style;
}

.text-xs-bold {
  @extend .font-inter-bold, .text-xs-style;
}

// Text xs

.text-2xs-style {
  font-size: toRem(10) !important;
  line-height: toRem(16) !important; /* 142.857% */
}
.text-2xs {
  @extend .font-inter, .text-2xs-style;
}

.text-2xs-medium {
  @extend .font-inter-medium, .text-2xs-style;
}

.text-2xs-semibold {
  @extend .font-inter-semibold, .text-2xs-style;
}

.text-2xs-bold {
  @extend .font-inter-bold, .text-2xs-style;
}
